{{>layouts/loginHeader}}

<style>
    .logout-message {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      font-family: 'Goorm Sans', sans-serif;
      font-size: 1.5rem;
      color: #333;
      text-align: center;
    }
</style>


<div class="logout-message">
    <img src="/img/brBye.png" style="width: 350px; height: auto;">
    오늘도 즐거운 하루 되세요! <br> 또 만나요.
</div>


{{>layouts/footer}}